@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #2d3748;
  scroll-behavior: smooth;
}

.navbar-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.navbar-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #DAA520;
  transform: scaleX(0); 
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.navbar-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Mengganti warna progress bar dengan color-secondary */
.progress-bar {
  --progress-bar-color: #DAA520; /* Gunakan warna dari color-secondary */
  background-color: #f0f0f0;  /* Warna latar belakang */
  color: var(--progress-bar-color);
}

.progress-bar::-webkit-progress-bar {
  background-color: #f0f0f0; /* Background warna progress bar */
}

.progress-bar::-webkit-progress-value {
  background-color: #DAA520; /* Warna progress bar */
}

.progress-bar::-moz-progress-bar {
  background-color: #DAA520; /* Warna progress bar di Firefox */
}